.fade-in {
  animation: fadeIn 1s;
  animation-timing-function: ease-in;
}
.fade-in-left {
  animation: fadeInLeft 1s;
  animation-timing-function: ease-in;
}
.fade-in-right {
  animation: fadeInRight 1s;
  animation-timing-function: ease-in;
}
@keyframes fadeIn {
  from   { opacity: 0;}
  to { opacity: 1;  }
}
@keyframes fadeInLeft {
  from   { opacity: 0; transform: translateX(-15%) }
  to { opacity: 1; transform: translateX(0px) }
}
@keyframes fadeInRight {
  from   { opacity: 0; transform: translateX(15%) }
  to { opacity: 1; transform: translateX(0px) }
}

@media screen and
  (prefers-reduced-motion: reduce), 
  (update: slow) { // If animations are not preferred by user in settings, turn off animations
    * {
      animation: none !important;
    }
    .comments {
      opacity: 1 !important;
    }
}