.heading-large, .heading-medium, .heading-small, .bold-tabs {
    font-family: 'Montserrat', sans-serif;
}
.heading-large{
    font-size: 3rem;
    font-weight: 900;
    color: $color-dark-grey;
    width: 100%;
    text-align: center;
}
.heading-medium{
    font-size: 2.2rem;
    font-weight: 900;
    width: 100%;
    color: $color-primary;
}
.heading-small{
    font-size: 1.9rem;
    font-weight: 900;
}

